/* You can add global styles to this file, and also import other style files */
*{
  font-family: "Arial", "sans-serif";
  margin: 0px;
  padding: 0px;
}
nav{
  top: 0;
  width: 100%;
  height: 48px;
  box-shadow: 4px 0px 4px black;
}
.navigation-body{
  margin-left: 25%;
}
.navigation-links{
  list-style: none;
}
.navigation-links li a{
  margin-right: 10px;
}

.navigation-links li a,
.login-button{
  float: left;
  color: black;
  padding-top: 16px;
  padding-bottom: 16px;
  text-decoration: none;
}

.navigation-links li a:hover,
.login-button:hover {
  color: darkorange;
  cursor: pointer;
}

.login-button{
  right: 25%;
  position: absolute;
}

main{
  margin-top: 16px;
  margin-left: 25%;
  margin-right: 25%;
}

main h1{
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 1px solid darkorange;
}

p,
form,
h3{
  margin-top: 8px;
}

.button{
  border-radius: 4px;
  padding: 5px;
  height: 32px;
  background-color: white;
  border: none;
  color: black;
  box-shadow: 2px 2px 4px -2px black;
}

.button:hover{
  background-color: #FAFAFA;
  color: black;
}

.button:active {
  background-color: #FAFAFA;
  color: black;
  box-shadow: 2px 2px 4px -4px black;
}

.input-box{
  border-radius: 4px;
  height: 32px;
  background-color: white;
  border: 1px solid lightgray;
  color: black;
}


form{
  box-shadow: 2px 2px 4px -2px black;
  padding: 10px;
}

.invalid{
  border-left: 5px solid red;
}

.valid{
  border-left: 5px solid green;
}
